<p id="notice"><%= notice %></p>

<p>
  <b>Test1:</b>
  <%= @test.test1 %>
</p>

<p>
  <b>Test2:</b>
  <%= @test.test2 %>
</p>


<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
